# General modules
django >3.2,<3.3
python-decouple
Pillow
djangorestframework



# Third party modules
markdown
django-filter
drf-yasg[validation]
djangorestframework-simplejwt


# email thirdparty modules
django-mail-templated


# refactoring and tests
black
flake8
pytest
pytest-django
Faker