[flake8]
exclude =
    .git,
    .gitignore,
    *.pot,
    *.py[co],
    __pycache__,
    venv,
    .env
    settings.py,
    __init__.py,

ignore =
    E501
    F401
    W293
    F811
    F841
    W291


max-line-length = 79